amqp==5.3.1
anyio==4.13.0
asgiref==3.9.1

autobahn==25.12.2
automat==25.4.16
constantly==23.10.4
hyperlink==21.0.0
incremental==24.11.0
service-identity==24.2.0
twisted==25.5.0
txaio==25.12.2
zope-interface==8.4

billiard==4.2.4
celery==5.5.3

channels==4.3.2
channels-redis==4.3.0
daphne==4.2.1

click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0

dj-database-url==3.0.1
dj-rest-auth==7.0.1

Django==5.2.4

django-allauth==65.11.2
django-cors-headers==4.7.0
django-environ==0.12.0
django-filter==25.1
django-redis==5.4.0

djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.0

drf-yasg==1.21.10

gunicorn==23.0.0

msgpack==1.1.1

pillow==11.3.0

pgvector==0.4.2

psycopg2-binary==2.9.10

pyjwt==2.9.0

python-dateutil==2.9.0.post0

redis==6.4.0

sqlparse==0.5.3

typing_extensions==4.14.1

tzdata==2025.2

ujson==5.12.1

vine==5.1.0

whitenoise==6.11.0

